.landing {
  text-align: center;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    transform-origin: top left;
  }
  .container {
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 72px);
  }
  .text {
    flex: 1;
    text-align: left;
    h1 {
      margin-bottom: 4px;
      font-size: 40px;
      letter-spacing: -2px;
    }
    p {
      font-size: 22px;
      line-height: 1.4;
      margin: 5px 0 0;
    }
  }

  .images {
    width: 600px;
    img {
      width: 100%;
    }
    animation: up-down 3s linear infinite alternate;
    -webkit-animation: up-down 3s linear infinite alternate;
  }

  @keyframes up-down {
    to {
      transform: translateY(-40px);
      -webkit-transform: translateY(-40px);
      -moz-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
      -o-transform: translateY(-40px);
    }
  }

  .go-down {
    color: $main-color;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    &:hover {
      color: $main-color-alt;
    }
    animation: down 3s infinite;
    -webkit-animation: down 3s infinite;
  }

  @media (max-width: 768px) {
    .container {
      height: calc(90vh - 72px);
    }
    .text {
      h1 {
        font-size: 28px;
      }
      p {
        font-size: 20px;
        line-height: 1.2;
        margin: 0 20px !important;
      }
    }
  }

  @media (max-width: 991px) {
    .images {
      display: none;
    }
    .text {
      text-align: center;
      margin: 0 15px;
    }
  }
}

@keyframes down {
  0%,
  20%,
  30%,
  50%,
  80% {
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
  }
  40%,
  60% {
    transform: translate(-50%, -15px);
    -webkit-transform: translate(-50%, -15px);
    -moz-transform: translate(-50%, -15px);
    -ms-transform: translate(-50%, -15px);
    -o-transform: translate(-50%, -15px);
  }
}
