*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

// small
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
// medium
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
// medium
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
// large
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  width: fit-content;
  text-align: center;
  z-index: 1;
  transition: var(--main-transition);
  &::before,
  &::after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    background: #2196f3;
    border-radius: 50%;
    z-index: -1;
    transform: translateY(-50%);
  }
  &::after {
    right: -40px;
  }
  &::before {
    left: -40px;
  }
  &:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
  }
  &:hover::before {
    animation: left-move 0.5s linear forwards;
    -webkit-animation: left-move 0.5s linear forwards;
  }
  &:hover::after {
    animation: right-move 0.5s linear forwards;
    -webkit-animation: right-move 0.5s linear forwards;
  }
}

@import "variables";
@import "header";
@import "landing";
@import "article";
@import "gallery";
@import "feature";
@import "testimonials";
@import "team";
@import "services";
@import "ourskills";
@import "work-steps";
@import "events";
@import "pricing";
@import "videos";
@import "stats";
@import "discount";
@import "footer";
